.page-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  display: flex;
  align-items: center;

  .input-label {
    margin-right: 15px;
    margin-top: 5px;
    font-weight: 500;
    font-size: 20px;
    width: 60px;
  }

  app-turma-select, .data-input {
    font-size: 16px;
    width: 200px;
  }
}

.example-container {
  position: relative;
  min-height: 200px;
  overflow: auto;
  max-height: calc(100vh - 100px);

  @media (max-width: 1024px) {
    max-height: calc(100vh - 233px);
  }

  @media (max-width: 768px) {
    max-height: calc(100vh - 100px);
  }
}

.example-table-container {
  position: relative;
  overflow: auto;
  width: 100%;
  // max-height: calc(100vh - 300px);
}

.edit-icon {
  margin-right: 16px;

	&:last-child {
		margin: 0;
	}
}

.no-padding-right {
	padding-right: 0;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-header-row, mat-row {
  margin: 0px 24px;
  border-color: #CACED3;
	padding: 8px 0!important;
}

.mat-cell {
	font-size: 16px;
	color: #707070;
}

mat-header-cell {
	font-size: 16px !important;
	color: hsla(0,0%,43.9%,.5)!important;
}

mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  padding-left: 15px !important;
  min-width: 150px !important;
}

.first-checkbox {
  margin-right: 25px;
}

.container-form {
  margin-bottom: 15px;
}