<div class='page-header'>
	<div>
		<h2>Documentos</h2>
		<h3>Geração de documentos do curso</h3>
	</div>
</div>

<div class="example-container mat-elevation-z8" style='margin: 32px 0; border-radius: 15px;'>
	
    <mat-form-field appearance="fill" style="margin-left: 1%; margin-top: 1%; margin-bottom: 1%;">
        <mat-label>Selecione o aluno</mat-label>
        <mat-select>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let aluno of Students">
            {{aluno.nome}}
          </mat-option>
        </mat-select>
    </mat-form-field>
</div>
