<mat-toolbar class='toolbar'>
  <img  class="img-logo" src='../../assets/restaurant-school-icon.png'>
  <a mat-button [routerLink]="['/alunos']" routerLinkActive #students="routerLinkActive" [ngClass]='{"activated" : students.isActive}' [routerLinkActiveOptions]="{ exact: true }">Alunos</a>
  <a mat-button [routerLink]="['/turmas']" routerLinkActive #classes="routerLinkActive" [ngClass]='{"activated" : classes.isActive}'>Turmas</a>
  <a mat-button [routerLink]="['/configurações']" routerLinkActive #config="routerLinkActive" [ngClass]='{"activated" : config.isActive}'>Configurações</a>
  <span class="example-spacer"></span>
  <a target="_blank" class="toolbar-banner" href="https://unisantos.br">
    <img src='../../assets/unisantos-icon.png' style='height: 54px;'>
  </a>
</mat-toolbar>

<!-- (activate)="onActivate($event)" -->

<div style='margin: 0 32px;'>
	<router-outlet></router-outlet>
</div>

