<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>""</title>
    <meta charset="utf-8">
</head>
<body class="body">
    <section>
        <header class="centralizar">
            <div>
                <h2>PREFEITURA MUNICIPAL DE SANTOS</h2>
                <h4>Estância Balneária</h4>
                <h4>Secretaria de Comunicação</h4>
                <h2>TERMO DE AUTORIZAÇÃO DE USO DE IMAGEM</h2>
                <br/>
            </div>
        </header>
        <div>
            <p>1. Pelo presente instrumento, eu {{studentData?.nome}},  
         de {{studentData?.idade}} anos, portador(a) do CPF {{studentData?.cpf}} autorizo à PREFEITURA DE SANTOS, 
         no Estado de São Paulo, na Praça Mauá s/n° , Centro, inscrita no CNPJ/MF sob o 
            n° 58.200.015/0001-83, de forma inteiramente gratuita, a título universal, 
          em caráter total, definitivo,</p>
            <p>2. Reconhece expressamente o Autorizado (a) que a PREFEITURA DE SANTOS, na 
            qualidade de detentora dos direitos patrimoniais do autor sobre a Obra e tendo em 
            vista a autorização efetuada neste termo, poderá, a seu exclusivo critério, 
            utilizar a Obra livremente, podendo, exemplificativamente, adaptá-la para fins 
            de produção de obras audiovisuais novas, obras literárias e peças publicitárias, 
            utilizá-la, bem como a imagem do mesmo para a produção de matéria promocional 
            em qualquer tipo de mídia, inclusive impressa, jornal ou revista, seja para 
            fins de divulgação da Obra, para a composição de qualquer produto ligado à mesma 
            (tais como, mas não limitados a capas de CD, DVD, “home vídeo”, DAT, entre outros),
            fixá-la em qualquer tipo de suporte material, tais como, CD(compact disc), CD ROM,
            CD-I(compact disc interativo), “home vídeo, DAT(digital áudio tape), 
            DVD(digital vídeo disc) e suportes de computação gráfica em geral, ou 
            armazená-la em banco de dados, exibi-la através de projeção em tela em 
            casas de frequência coletiva ou em locais públicos, com ou sem ingresso pago, 
            bem como independentemente da modalidade de comercialização empregada, das 
            características e atributos dos sistema de distribuição, abrangendo plataformas 
            analógicas ou digitais, com atributos de interatividade, ou não), comercializá-la 
            ou alugá-la ao público em qualquer suporte material existente, promover ações de 
            merchandising ou veicular propaganda, bem como desenvolver qualquer atividade de 
            licenciamento de produtos e/ou serviços derivados da Obra, disseminá-la através da 
            internet utilizá-la em parques de diversão, inclusive temáticos, ceder direitos 
            autorais sobre a Obra ou sobre as imagens cuja utilização foi autorizada através 
            deste Termo a terceiros, para qualquer espécie de utilização, produzir novas obras 
            audiovisuais (“remakes”), utilizar trechos ou extratos da mesma ou, ainda, dar-lhe 
            qualquer outra utilização que proporcione à PREFEITURA DE SANTOS alguma espécie de 
            vantagem econômica.</p>
            <p>2.1. Nenhuma das utilizações previstas no caput desta Cláusula, ou ainda qualquer 
            outra que pretenda a PREFEITURA DE SANTOS das à Obra e/ou às imagens cuja 
            utilização foi autorizada através deste Termo, têm limitação de tempo ou de 
            números de vezes, podendo ocorrer no Brasil e/ou exterior, sem que seja devida ao 
            Autorizador qualquer remuneração.</p>
            <p>3. O presente instrumento é firmado em caráter irrevogável e irretratável 
            obrigando-se as partes por si, seus herdeiros e sucessores a qualquer título, 
            ficando eleito o foro da Comarca de São Paulo para dirimir quaisquer dúvidas 
            oriundas deste Termo.</p> 
            <br> 
        </div>
        <div class = "centralizar">
            <h4>Santos {{today | date:"longDate"}}</h4>
            <p>__________________________</p>
            <p>{{studentData?.nome}}</p>
        </div>
    </section>
</body>
</html>
