
<div>
    <img src="">
</div>

<div>
    <p>Eu {{studentData?.nome}} , portador da Carteira de Identidade/RG {{studentData?.rg}} e inscrito no CPF/MF sob nº {{studentData?.cpf}} cedo o direito
        de uso da minha imagem e/ou som de minha voz à Universidade Católica de Santos para produção de material de divulgação da instituição.
    </p>
    <p>A presente autorização abrange o uso acima indicado tanto em mídia impressa, eletrônica, Internet e demais meios de comunicação, 
        para apresentação institucional em feiras, eventos acadêmicos, cursos e quaisquer outros meios de reprodução e comercialização, 
        sem qualquer ônus ao efetivo registro.
    </p>
    <p>O material que venha a ser produzido poderá ser utilizado em qualquer idioma, por tempo indeterminado, em território nacional e no exterior, 
        e em qualquer das ações com ou sem finalidade lucrativa, pertencentes à Universidade Católica de Santos.
    </p>
    <p>E, por estar de acordo com os termos e condições descritos acima, assino a presente autorização.</p>

    <p>Santos {{today | date:"longDate"}}</p>
         
</div>
