* {
    background-color: white;
    padding-left: 1px;
}

body{
    width: 960px;
    margin: auto;
    font: normal 20px Arial;
}

.centralizar{
    padding-top: 10px;
    text-align: center;
}

.esquerda {
    float: left;
    width: 33.33%;
    padding: 5px;
    padding-left: 12%;
    padding-top: 60px;
}

.centro {
    float: center;
    width: 33.33%;
    padding: 5px;
    padding-left: 12%;
}

.direita {
    float: right;
    width: 33.33%;
    padding: 5px;
    padding-left: 10%;
    padding-top: 40px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }