<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>""</title>
    <meta charset="utf-8">
</head>

<header>
    <div class="row">
        <div class="esquerda">
          <img src="./assets/unisantos.png" alt="unisantos" style="width:70%">
        </div>
        <div class="centro">
          <img src="./assets/restaurante.png" alt="restaurante_escola"style="width:45%">
        </div>
        <div class="direita">
          <img src="./assets/prefeitura_santos.png" alt="prefeitura_santos"style="width:70%">
        </div>
    </div>
</header>

<br>
<br>
<br>
<br>

<body class="body">

    <section>
        <div class="centralizar">
            <div>
                <h2>DECLARAÇÃO DE ADVERTÊNCIA</h2>
                <br/>
            </div>
        </div>
        <div>
            <h3>Santos {{today | date:"longDate"}}</h3>
            <br>
            <p class="centralizar">Através deste termo, informamos que o(a) aluno(a) {{studentData?.nome}} está sendo advertido(a) pelo(s) seguinte(s) motivo(s):</p>
            <br>
            <p  class="centralizar" *ngFor="let advertence of studentAdvertences">{{advertence?.descricao}}</p> <!-- TO DO: VERIFICAR COM O ANDERSON SE ELE QUER TODAS AS ADVERTENCIAS OU NÃO -->
            <br/>
            <p class="centralizar">Esclarecemos que a reincidência em procedimentos semelhantes, 
                poderá causar uma suspensão disciplinar ou até mesmo a exclusão deste 
                curso vigente.</p>  
            <br>
        </div>

        <br>
        <div class="centralizar">
            <p>______________________________</p>
            <p>{{studentData?.nome}}</p>
            <p><b>Aluno</b></p>
            <br>
            <p>______________________________</p>
            <p><b>Instrutor (a) - Restaurante-Escola</b></p>
            <br>
            <p>______________________________</p>
            <p><b>Anderson Santana</b></p>
            <p><b>Coordenador</b></p>
            <br>
            <h5>Restaurante-Escola – Estação Bistrô</h5>
            <h5><b>Pça Marques de Monte Alegre s/n – Valongo – Santos, SP</b></h5>
        </div>
    </section>
</body>
</html>